body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
.center{
	/*margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	height: 100%;*/
	
}
.collapse-title{
	display: flex;
}
.collapse-title-star{
	margin-left: 100px;
}
.collapse-title-star i{
	color: #BEBEC5;
}
.card-body-content{
	display: flex;
	width: 100%;
}
.card-body-content-date{
	margin-left: 470px;
}
.card-body-content-action{
	margin-left: 600px;
}
.card-body-content-h3{
	width: 200px;
}
